<div>
    <div class="main">
        <img class="group" src="..\assets\images\pokemon-group-pic.png" alt="">
        <h1>Gotta catch 'em all!</h1>
    </div>

    <div class="who-are-we">
        <h1>Who are we?</h1>
    </div>

    <div class="about-us">
        <div class="about-us-text">
            <h2>About Us</h2>
            <p>We are a group of Computer Science students that are currently taking CPSC 349, which is a Web Front-End
                Engineering. For this project we wanted to help Pokemon trainers reach their goal of getting every
                Pokemon as well as help facilitate trades between them!
            </p>
        </div>

        <img class="squirtle" src="..\assets\images\squirtle.png" alt="">
    </div>

    <div class="team-members">
        <img class="pikachu" src="..\assets\images\pikachu.png" alt="">
        <div class="team-members-text">
            <h2>Team Members</h2>
            <ol class="name-list">
                <li>James Cadavona</li>
                <li>Kevin Ponting</li>
                <li>Cyrus Baybay</li>
                <li>Ashton Yoshino</li>
            </ol>
        </div>
    </div>

    <div class="contact-us">
        <div class="form">
            <h2 class="form-text">Contact Us</h2>
            <input class="first-name" placeholder="First Name" type="text">
            <input class="last-name" placeholder="Last Name" type="text">
            <input class="email" placeholder="Email" type="text">
            <textarea class="comment" cols="30" rows="10" placeholder="Comment"></textarea>
        </div>

        <img src="..\assets\images\charmander.png" class="charmander" alt="">
    </div>
</div>